mixin spacing()

  - var plateClass = 'bg-black clr-white text-center base-radius no-wrap'

  hr
  section(class="spacing pt-3 pb-3")
    div(class="container")
      div(class="row")

          div(class="col col-12") #[h1 Paddings]

          div(class="col col-12") #[h3 Basic padding]

          div(class="p-1 p-sm-4 p-lg-2 bg-main cursor-pointer position-absolute position-lg-relative") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-dark-1 cursor-help") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-dark-2 cursor-wait") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-dark-3 cursor-move") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-dark-4 cursor-not-allowed") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-dark-5 d-none d-sm-block") p-1 p-lg-2