mixin spacing()

  - var plateClass = 'bg-black clr-white text-center base-radius no-wrap'

  hr
  section(class="spacing pt-3 pb-3")
    div(class="container")
      div(class="row")

          div(class="col col-12") #[h1 Paddings]

          div(class="col col-12") #[h3 Basic padding]

          div(class="p-1 p-sm-4 p-lg-2 bg-main") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-lt-1") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-lt-2") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-lt-3") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-lt-4") p-1 p-lg-2
          div(class="p-1 p-sm-4 p-lg-2 bg-main-lt-5") p-1 p-lg-2

          div(class="test") test