mixin intro()

  div(class="d-flex flex-column justify-content-center align-items-center vw-100 vh-100")
    img(
      class="mb-4 no-select"
      src="../assets/images/logo.png"
      alt='logo')
    h1(class="m-0")
      span(class="clr-primary") Night
      span(class="clr-info") Pack