$spacers: (
  25: 0.25em,
  50: 0.5em,
  1: 1em,
  2: 2em,
  3: 3em,
  4: 4em,
  5: 5em
);

// Global
@each $name, $indent in $spacers {
  .p-#{$name} { padding: $indent }
  .pt-#{$name} { padding-top: $indent }
  .pl-#{$name} { padding-left: $indent }
  .pb-#{$name} { padding-bottom: $indent }
  .pr-#{$name} { padding-right: $indent }
  .px-#{$name} { padding-left: $indent; padding-right: $indent }
  .py-#{$name} { padding-top: $indent; padding-bottom: $indent }

  .m-#{$name} { margin: $indent }
  .mt-#{$name} { margin-top: $indent }
  .ml-#{$name} { margin-left: $indent }
  .mb-#{$name} { margin-bottom: $indent }
  .mr-#{$name} { margin-right: $indent }
  .mx-#{$name} { margin-left: $indent; margin-right: $indent }
  .my-#{$name} { margin-top: $indent; margin-bottom: $indent }
}

// Breakpoints
@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}px) {
    @each $name, $indent in $spacers {
      .p-#{$breakpoint}-#{$name} { padding: $indent }
      .pt-#{$breakpoint}-#{$name} { padding-top: $indent }
      .pl-#{$breakpoint}-#{$name} { padding-left: $indent }
      .pb-#{$breakpoint}-#{$name} { padding-bottom: $indent }
      .pr-#{$breakpoint}-#{$name} { padding-right: $indent }
      .px-#{$breakpoint}-#{$name} { padding-left: $indent; padding-right: $indent }
      .py-#{$breakpoint}-#{$name} { padding-top: $indent; padding-bottom: $indent }
  
      .m-#{$breakpoint}-#{$name} { margin: $indent }
      .mt-#{$breakpoint}-#{$name} { margin-top: $indent }
      .ml-#{$breakpoint}-#{$name} { margin-left: $indent }
      .mb-#{$breakpoint}-#{$name} { margin-bottom: $indent }
      .mr-#{$breakpoint}-#{$name} { margin-right: $indent }
      .mx-#{$breakpoint}-#{$name} { margin-left: $indent; margin-right: $indent }
      .my-#{$breakpoint}-#{$name} { margin-top: $indent; margin-bottom: $indent }
    }
  }
}