mixin plate(text)
  div(class="p-1 mb-1 d-flex justify-content-center align-items-center bg-black clr-white radius-base")=text

div(class="container pt-5 pb-5")
  div(class="row")
    div(class="col col-12")
      h1 Grid
      p By default nightpack uses custom 12 column grid system based on flex. 
    div(class="col col-12")
      +plate('12')
    div(class="col col-6")
      +plate('6')
    div(class="col col-6")
      +plate('6')
    div(class="col col-4")
      +plate('4')
    div(class="col col-4")
      +plate('4')
    div(class="col col-4")
      +plate('4')
    div(class="col col-3")
      +plate('3')
    div(class="col col-3")
      +plate('3')
    div(class="col col-3")
      +plate('3')
    div(class="col col-3")
      +plate('3')
    div(class="col col-2")
      +plate('2')
    div(class="col col-2")
      +plate('2')
    div(class="col col-2")
      +plate('2')
    div(class="col col-2")
      +plate('2')
    div(class="col col-2")
      +plate('2')
    div(class="col col-2")
      +plate('2')

    div(class="col col-12 mt-2")
      
      p Standart breakpoints, minimal container width, number of columns and gap between them can be modified. You can add new breakpoints too, if standart set don't fit your needs.

      pre(class="radius-base p-1")
        | $num-cols:           12;
        | $gutter-width:       1rem;
        | $container-width:    1140px;
        | 
        | $breakpoints: (
        |   'xs': 576,
        |   'sm': 768,
        |   'md': 1024,
        |   'lg': 1200,
        |   'xl': 1440,
        | );

      p You can use grid system both in PUG or SCSS. It depends only on your personal preferences.

      h6 PUG:
      pre(class="radius-base p-1")
        | div(class="col xl-8 lg-6 md-6 sm-10 xs-12 col-12")
      h6 SCSS:
      pre(class="radius-base p-1")
        | div {
        |   @extend .col;
        |   @extend .xl-8;
        |   @extend .lg-6;
        |   @extend .md-6;
        |   @extend .sm-10;
        |   @extend .xs-12;
        |   @extend .col-12;
        | }

      p There are prepared media queries for SCSS usage: 

      pre(class="radius-base p-1")
        | $xs-sm // between 576px and 768px
        | $sm-md // between 768px and 1024px
        | $md-lg // between 1024px and 1200px
        | $lg-xl // between 1200px and 1440px
        | 
        | $xs-up // above 576px
        | $sm-up // above 768px
        | $md-up // above 1024px
        | $lg-up // above 1200px
        | $xl-up // above 1440px
        | 
        | $xs-dw // below 576px
        | $sm-dw // below 768px
        | $md-dw // below 1024px
        | $lg-dw // below 1200px
        | $xl-dw // below 1440px

      p Here are some examples of usage: 

      h6 SCSS:
      pre(class="radius-base p-1")
        | @media #{$lg-up} // styles will apply above 1200px
        | @media #{$sm-dw} // styles will apply below 768px
        | @media #{md-lg} // styles will apply between 1024px and 1200px