include _mixins

- var foo = 'foo'

doctype html
html(lang='en')

  head
    +meta
    +fonts

  body

    +header
    
    main.main

      svg: use(xlink:href='#smile')
      svg: use(xlink:href='#raw')


    +footer