extends layouts/_default

block innerVars
  - var fooLocal = 'foo'

block content

  div(class="main")

    +grid
    +spacing

    div(class="container")
      div(class="row")
        div(class="col col-12")

          h1 Lorem ipsum dolor sit amet
          h2 Lorem ipsum dolor sit amet
          h3 Lorem ipsum dolor sit amet
          h4 Lorem ipsum dolor sit amet
          h5 Lorem ipsum dolor sit amet
          h6 Lorem ipsum dolor sit amet

          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis laborum enim placeat consectetur ipsa iste facilis dolorum similique quod veritatis! Ad atque ea sed ipsum amet, consectetur explicabo. Mollitia, eum? Aut consequatur eveniet nihil saepe sit, iusto accusamus aliquam magni accusantium provident necessitatibus laboriosam eos ipsam deleniti rerum vel vitae mollitia. Accusantium, odio repudiandae. Doloremque soluta, repellendus, culpa harum omnis reprehenderit accusamus debitis eius quis perspiciatis, ipsum commodi ex in sapiente? Molestiae impedit quas quo, suscipit repellendus est laborum quaerat mollitia vel animi nihil ab beatae ipsum temporibus. Voluptatibus dolor quidem aliquam. Esse aliquid minima excepturi voluptas. Harum tempora impedit ab expedita eveniet tenetur quis perferendis maiores, sed dicta maxime incidunt voluptas, ipsum architecto explicabo dignissimos. Quaerat quasi velit nihil accusantium. Eaque minus perferendis atque molestias repudiandae possimus laudantium ullam culpa deleniti ab necessitatibus voluptatem, corporis accusamus itaque odio esse. Repellendus corrupti recusandae nostrum aut, earum veritatis maiores fugiat optio quis voluptate unde quod esse, ab, facere voluptatibus dolores. Omnis itaque temporibus, ullam incidunt dicta voluptatem. Iure enim beatae minima eos illum obcaecati quod nihil culpa incidunt nulla hic, illo voluptatibus repellendus deserunt quia aperiam similique blanditiis labore consequuntur debitis dolor veniam cupiditate accusantium. Vero, maiores? Nesciunt blanditiis inventore placeat.

          p #[small some small text lorem]

          ul
            li 1
            li 1
            li 1
            li 1
            li 1
            li 1

          ol
            li 1
            li 1
            li 1
            li 1
            li 1
            li 1

          +divider('large')